@media (max-width: 768px) {

  .header-title {
    transform: scale(.85);
    -webkit-transform: scale(.85);
    -moz-transform: scale(.85);
    -ms-transform: scale(.85);
    -o-transform: scale(.85);
}

  /* Header Start */

  header {
    padding: 15px 0;
  }

  header .container {
    flex-direction: column;
  }

  .header-links {
    justify-content: space-around;
    width: 100vw;
  }

  header h2 {
    margin: 0;
    margin-bottom: 5px;
  }

  header:has(:checked) .other-links {
    bottom: -534px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

  .header-links > li a,
  .header-links > li:nth-last-child(2) {
    padding: 10px !important;
    height: initial !important;
    font-size: 16px !important;
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

  .header-links > li a:active,
  .header-links > li:nth-last-child(2):active {
    background-color: #ddd;
    color: var(--main-color-alt);
  }

  header .other-links {
    height: fit-content;
    padding: 0;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
}

  header .other-links div {
    flex-direction: column;
    gap: 0;
  }

  header .other-links img {
    display: none;
  }

  header .other-links div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .other-links li a {
    width: 100%;
  }

  header .other-links li {
    width: 90vw;
  }

  @media (pointer: coarse) and (hover: none) {
    .other-links li a:hover {
      background-color: #f6f6f6;
    }

    .other-links li a:active {
      background-color: #ddd;
    }
  }

  /* Header End */

  /* Landing Start */

  .landing .container {
    min-height: 400px;
  }

  .landing .image {
    display: none;
  }

  .go-down {
    position: absolute;
    bottom: -50px;
}

  .landing h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
  }

  .landing .text {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

  .landing p {
    font-size: 20px;
    width: 95vw;
    text-align: center;
  }

  /* Landing End */

  /* Articles Start */

  .articles .header-title {
    margin-top: 85px;
  }

  .articles .container {
    margin-top: 60px;
  }

  /* Articles End */

  /* Features Start */

  .features {
    padding-top: 2px;
    padding-bottom: var(--main-padding);
  }

  .features .header-title {
    margin-top: 15px;
  }

  .features .container {
    margin-top: 45px;
  }

  /* Features End */

  /* Testimonials Start */

  .testimonials {
    padding-top: 30px;
  }

  .testimonials .header-title {
    transform: scale(.85);
    -webkit-transform: scale(.85);
    -moz-transform: scale(.85);
    -ms-transform: scale(.85);
    -o-transform: scale(.85);
  }

  .testimonials .container {
    margin-top: 65px;
  }

  /* Testimonials End */

  /* Team Members Start */

  .team-members {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .team-members .container {
    margin: 0 auto;
    gap: 0;
  }

  .team-members .person {
    height: 430px;
    margin: -5px 0;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}

  .team-members .header-title {
    transform: scale(.8);
    margin-bottom: 20px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}

  .team-members .image-social {
    transform: translateX(-50px) scale(.9);
    -webkit-transform: translateX(-50px) scale(.9);
    -moz-transform: translateX(-50px) scale(.9);
    -ms-transform: translateX(-50px) scale(.9);
    -o-transform: translateX(-50px) scale(.9);
}

  /* Team Members End */

  /* Our Skills Start */

  .our-skills {
    padding: calc(var(--main-padding) / 2) 0;
  }

  .our-skills .container {
    margin-top: 20px;
  }

  .our-skills img {
    display: none;
  }

  .our-skills .skill .bar {
    width: calc(100vw - 30px);
  }

  /* Our Skills End */

  /* Services Start */

  .services .header-title {
    margin-top: 35px;
  }

  /* Services End */

  /* How It Works Start */

  .how-it-works {
    padding: calc(var(--main-padding) / 4) 0;
  }

  .how-it-works .container {
    margin: 40px 0;
  }

  .how-it-works .header-title {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}

  .how-it-works .step {
    flex-direction: column;
    align-items: center;
  }

  .how-it-works .text {
    align-items: center;
  }

  .how-it-works p {
    text-align: center;
  }

  /* How It Works End */

  /* Events Start */

  .events {
    padding: calc(var(--main-padding) / 12) 0;
  }

  .events [class*=dot] {
    display: none;
  }

  .events .header-title {
    margin: 20px auto;
    transform: scale(.85);
    -webkit-transform: scale(.85);
    -moz-transform: scale(.85);
    -ms-transform: scale(.85);
    -o-transform: scale(.85);
}

  .events .time > div span {
    font-size: 35px;
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
}

  .events .time > div {
    min-width: initial;
    width: calc(25vw - 15px);
    height: 100px;
  }

  .events .text {
    gap: 40px;
  }

  .events .small-text {
    gap: 15px;
  }

  .events .small-text p {
    font-size: 18px;
    line-height: 1.8;
  }

  .events .subscribe form {
    flex-direction: column;
    width: calc(100vw - 20px);
    padding: 20px;
    gap: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

  .events .subscribe input {
    width: 100% !important;
  }

  .events .subscribe input[type=email] {
    padding: 10px;
  }

  .events .subscribe input[type=submit] {
    padding: 12px 0;
  }

/* Events End */

/* Pricing Start */

.pricing .header-title {
  margin-top: -35px;
}

.pricing .container {
  margin-top: -5px;
}

.pricing .plan:nth-child(2) {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

/* Pricing End */

}