@media (max-width: 768px) {

  /* Header Start */

  header {
    padding: 15px 0;
  }

  header .container {
    flex-direction: column;
  }

  .header-links {
    justify-content: space-around;
    width: 100vw;
  }

  header h2 {
    margin: 0;
    margin-bottom: 5px;
  }

  header:has(:checked) .other-links {
    bottom: -534px;
  }

  .header-links > li a,
  .header-links > li:nth-last-child(2) {
    padding: 10px !important;
    height: initial !important;
    font-size: 16px !important;
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

  .header-links > li a:active,
  .header-links > li:nth-last-child(2):active {
    background-color: #ddd;
    color: var(--main-color-alt);
  }

  header .other-links {
    height: fit-content;
    padding: 0;
  }

  header .other-links div {
    flex-direction: column;
    gap: 0;
  }

  header .other-links img {
    display: none;
  }

  header .other-links div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .other-links li a {
    width: 100%;
  }

  header .other-links li {
    width: 90vw;
  }

  @media (pointer: coarse) and (hover: none) {
    .other-links li a:hover {
      background-color: #f6f6f6;
    }

    .other-links li a:active {
      background-color: #ddd;
    }
  }

  /* Header End */

  /* Landing Start */

  .landing .container {
    min-height: 400px;
  }

  .landing .image {
    display: none;
  }

  .go-down {
    position: absolute;
    bottom: -50px;
}

  .landing h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
  }

  .landing .text {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

  .landing p {
    font-size: 20px;
    width: 95vw;
    text-align: center;
  }

  /* Landing End */

  /* Articles Start */

  .articles .header-title {
    margin-top: 80px;
  }

  /* Articles End */

  /* Features Start */

  .features .container {
    transform: translate(-5px, 0);
    -webkit-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -ms-transform: translate(-5px, 0);
    -o-transform: translate(-5px, 0);
}

  /* Features End */

}