/* Google Fonts Start */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

/* Google Fonts End */

/* Variables Start */

:root {
  --main-transition: .5s;
  --main-padding: 60px;
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --second-color: #ececec;
  --red-color: #F44036;
  --green-color: #009688;
  --blue-color: #03a9f4;
  --yellow-color: #ffc107;
  --text-color: #777;
}

/* Variables End */

/* Global Rules Start */

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

*:not(a, button, img, input):hover {
  cursor: default;
}

body {
  font-family: "Cairo", sans-serif;
}

a, span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header-title {
  z-index: 100;
  text-transform: uppercase;
  font-size: 35px;
  border: 3px solid;
  padding: 10px 20px;
  margin: 30px auto;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  width: fit-content;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.header-title::selection {
  display: none;
}

.header-title:hover {
  color: white;
  border-color: white;
}

.header-title:hover::before {
  animation: header-title-left 1s;
  -webkit-animation: header-title-left 1s forwards;
}

.header-title:hover::after {
  animation: header-title-right 1s;
  -webkit-animation: header-title-right 1s forwards;
}

@keyframes header-title-left {
  50% {
    left: 0;
}

  100% {
    background-color: var(--main-color-alt);
    border-radius: 0;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
}

@keyframes header-title-right {
50% {
  right: 0;
}

100% {
  background-color: var(--main-color-alt);
  border-radius: 0;
  z-index: -1;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
}

.header-title::before,
.header-title::after {
  content: "";
  width: 13px;
  background-color: var(--main-color);
  height: 13px;
  position: absolute;
  top: calc(50% - 6.5px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header-title::before {
  left: -28px;
}

.header-title::after {
  right: -28px;
}

.spikes {
  position: relative;
}

.spikes::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  right: 0;
  z-index: 2;
  background-image:
  linear-gradient(135deg, white 30%, transparent 30%),
  linear-gradient(225deg, white 30%, transparent 30%);
  background-size: 30px 100%;
}

/* Global Rules End */

/* Navigation Start */

.navigate {
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: .5s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  font-size: 20px;
  z-index: 10000000;
}

.navigate:hover {
  cursor: pointer;
  background-color: var(--main-color-alt);
}

.navigate *:hover {
  cursor: pointer;
}

/* Navigation End */

/* Header Start */

header {
  background-color: white;
}

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .logo {
  color: var(--main-color);
}

header li:has(input) {
  position: relative;
}

header input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

header .header-links > li a,
header .header-links > li:nth-last-child(2) {
  background-color: white;
  height: 72px;
  padding: 0 30px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .header-links > li a:hover,
header .header-links > li:nth-last-child(2):hover {
  cursor: pointer;
  background-color: var(--second-color);
  color: var(--main-color-alt);
}

header .header-links > li a::before,
header .header-links > li:nth-last-child(2)::before {
  content: "";
  position: absolute;
  background-color: var(--main-color-alt);
  height: 4px;
  width: 100%;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .header-links > li a:hover::before,
header .header-links > li:nth-last-child(2):hover::before {
  left: 0;
}

header:has(:checked) .other-links {
  visibility: visible !important;
  opacity: 1 !important;
  bottom: -350px;
}

.other-links {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  background-color: white;
  bottom: -400px;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 350px;
  position: absolute;
  transition: var(--main-transition);
  border-bottom: 4px solid var(--main-color);
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.other-links img {
  min-width: 330px;
}

.landing .text,
.landing .image {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.other-links div {
  display: flex;
  gap: 30px;
}

header li:has(input) input:hover {
  cursor: pointer;
}

.other-links li {
  position: relative;
  overflow: hidden;
}

.other-links span, .other-links i {
  z-index: 10;
}

.other-links a {
  width: 250px;
  color: var(--main-color);
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
}

.other-links li::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  position: absolute;
  left: -100%;
  transition: calc(var(--main-transition) - .2s);
  -webkit-transition: calc(var(--main-transition) - .2s);
  -moz-transition: calc(var(--main-transition) - .2s);
  -ms-transition: calc(var(--main-transition) - .2s);
  -o-transition: calc(var(--main-transition) - .2s);
}

.other-links li:hover::before {
  left: 0;
}

.other-links li *:hover,
.other-links li:hover {
  cursor: pointer;
}

.other-links li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

body:has(header :checked) .landing .text,
body:has(header :checked) .landing .image {
  opacity: 0;
}

/* Header End */

/* Landing Start */

.landing {
  position: relative;
}

.landing .text {
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
}

.landing::before {
  content: "";
  background-color: #ececec;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  transform-origin: top left;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing .container > div {
  display: flex;
  gap: 50px;
  align-items: center;
}

@media (max-width: 1150px) {
  .landing img {
    display: none;
  }
}

.landing h1 {
  font-size: 2.5em;
  margin-bottom: 5px;
}

.landing p {
  margin-top: 5px;
  width: 500px;
  font-size: 25px;
  color: var(--text-color);
  line-height: 1.8;
}

.landing img {
  width: 600px;
}

.landing .image {
  translate: 0 -50px;
  animation: up-and-down 9s infinite linear;
  -webkit-animation: up-and-down 9s infinite linear;
}

@keyframes up-and-down {
  25% {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}

  50% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

  75% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
}

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

.go-down {
  animation: bouncing 1.5s infinite;
  color: var(--main-color);
  position: absolute;
  bottom: 10px;
  -webkit-animation: bouncing 1.5s infinite;
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

  40%,
  60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
}

.go-down *:hover {
  cursor: pointer;
}

/* Landing End */

/* Articles Start */

.articles .container {
  margin-top: 80px;
  padding-bottom: calc(var(--main-padding) / 2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.articles .header-title {
  margin-bottom: -30px;
}

.articles .box {
  box-shadow: 0 2px 10px #ddd;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.articles .box img {
  width: 100%;
}

.articles .content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  gap: 10px;
}

.articles .box p {
  color: var(--text-color);
  width: 100%;
  line-height: 1.8;
  margin: 0;
}

.articles .box h3 {
  margin: 0;
}

.articles .box div:last-child {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.hr-rule {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  }

.articles .box:hover {
  box-shadow: 2px 0 15px 0 rgb(0 0 0 / 20%);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.articles .box div:has(i) * {
  color: var(--main-color);
}

.articles .box div:has(i) span {
  font-weight: bold;
}

.articles .box div:has(i) i {
  transform: translateX(-5px);
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}

.articles .box div:has(i) span:hover {
  cursor: pointer;
}

.articles .box:hover i {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

/* Articles End */

/* Gallery Start */

.gallery {
  position: relative;
  padding: 20px 0;
  margin-bottom: 60px;
  padding: calc(var(--main-padding) / 2) 0;
}

.gallery::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #ececec;
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
  margin-top: -20px;
}

.gallery .header-title {
  margin: 60px auto;
}

.gallery .box img {
  max-width: 100%;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.gallery .box .image {
  overflow: hidden;
  position: relative;
}

.gallery .box {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px 0 #ddd;
}

.gallery .box:hover img {
  transform: scale(1.15) rotate(7deg);
  -webkit-transform: scale(1.15) rotate(7deg);
  -moz-transform: scale(1.15) rotate(7deg);
  -ms-transform: scale(1.15) rotate(7deg);
  -o-transform: scale(1.15) rotate(7deg);
}

.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgb(255 255 255 / 20%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  z-index: 50;
}

.gallery .box:hover .image::before {
  animation: shine .5s forwards;
  -webkit-animation: shine .5s forwards;
}

@keyframes shine {
  75% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

/* Gallery End */

/* Features Start */

.features {
  padding: 40px 0;
  padding-top: 1px;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  justify-items: center;
  margin-top: var(--main-padding);
}

.features img {
  max-width: 100%;
}

.features .container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  overflow: hidden;
  gap: 30px;
}

.features h3 {
  font-size: 35px;
  margin: 0;
}

.features p {
  text-align: center;
  line-height: 2;
  margin: 0;
  color: var(--text-color);
  font-size: 20px;
  width: 90%;
}

.features button {
  all: initial;
  font-family: "Cairo", sans-serif;
  border: 3px solid;
  padding: 0px 25px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 6px;
  background-image: linear-gradient(to right, var(--red-color) 50%, white 50%);
  background-size: 210% 100%;
  background-position: right;
  margin-bottom: 2em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.features button:hover {
  cursor: pointer;
}

.features .container > div:hover button {
  background-position: 0px 10px;
  color: white;
}

.features .time button {
  background-image: linear-gradient(to right, var(--green-color) 50%, white 50%);
}

.features .passion button {
  background-image: linear-gradient(to right, var(--blue-color) 50%, white 50%);
}

.features .container > div h3 {
  position: relative;
}

.features .container > div h3::before {
  content: "";
  bottom: -15px;
  width: 70%;
  height: 5px;
  background-color: var(--red-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.features .quality button {
  border-color: var(--red-color);
  color: var(--red-color);
}

.features .time h3::before {
  background-color: var(--green-color) !important;
}

.features .time button {
  border-color: var(--green-color);
  color: var(--green-color);
}

.features .passion h3::before {
  background-color: var(--blue-color) !important;
}

.features .passion button {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.features .image {
  position: relative;
  overflow: hidden;
}

.features .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 99%;
  background-color: #f4403690;
}

.features .time .image::before {
  background-color: #00968890;
}

.features .passion .image::before {
  background-color: #03a9f490;
}

.features .image::after {
  content: "";
  position: absolute;
  bottom: .5%;
  left: 50%;
  border-style: solid;
  border-width: 0 355px 150px 0;
  border-color: transparent transparent white transparent;
  transform: translateX(-50%);
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.features .container > div:hover .image::after {
  border-width: 0 0 150px 355px;
}

/* Features End */

/* Testimonials Start */

.testimonials {
  padding: calc(var(--main-padding) / 1.5) 0;
  background-color: var(--second-color);
  padding-bottom: 60px;
}

.testimonials .header-title {
  z-index: 100;
}

.testimonials .container {
  display: grid;
  margin-top: 80px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
}

.testimonials img {
  width: 100px;
  border: 10px solid var(--second-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -10px;
}

.testimonials .person {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.testimonials h3 {
  margin: 0;
}

.testimonials p {
  margin: 0;
  color: var(--text-color);
  line-height: 1.5;
}

.testimonials span {
  color: var(--text-color);
}

.testimonials i.filled {
  color: var(--yellow-color);
}

/* Testimonials End */

/* Team Members Start */

.team-members {
  padding: calc(var(--main-padding) / 3) 0;
  padding-bottom: var(--main-padding);
}

.team-members .container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 310px));
  justify-content: center;
  gap: 60px;
}

.team-members .person:hover h3 {
  color: #777;
}

.team-members .person {
  height: 460px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 14px;
  gap: 10px;
  background-image: linear-gradient(to left, #e4e4e4 50%, #f3f3f3 50%);
  background-size: 200% 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.team-members .person:hover {
  background-position: 100%;
}

.team-members h3 {
  margin: 0;
  transition: .5s;
  font-size: 22px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.team-members p {
  margin: 0;
}

.team-members .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1em .3em;
}

.team-members i {
  color: #777;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}



.team-members i:hover {
  color: var(--main-color);
  cursor: pointer;
}

.team-members .image {
  position: relative;
}

.team-members .person:hover img {
  filter: grayscale(99%);
  -webkit-filter: grayscale(99%);
}

.team-members .person:hover .image::before {
  opacity: 1;
}

.team-members .image::before {
  content: "";
  border-radius: 15px;
  position: absolute;
  transition: .5s;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #e4e4e490;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.team-members img {
  transition: .5s;
  width: 285px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.team-members .image-social {
  display: flex;
  gap: 25px;
  align-items: center;
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}

.team-members .social {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.team-members h3 {
  color: var(--main-color);
}

/* Team Members End */

/* Services Start */

.services {
  background-color: var(--second-color);
  padding: calc(var(--main-padding) / 2) 0;
}

.services .container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
}

.service i {
  color: #D5D5D5;
}

.service {
  counter-increment: services-counter;
  display: flex;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  flex-direction: column;
  align-items: center;
  background-color: white;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  position: relative;
}

.service::before,
.service::after {
  content: "";
  background-color: var(--main-color-alt);
  height: 3px;
  position: absolute;
  top: -3px;
  width: 0;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.service::before {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.service::after {
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

.service:hover::before,
.service:hover::after {
  width: 100%;
}

.service:hover {
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
}

.service .details {
  display: flex;
  background-color: #F9F9F9;
  position: relative;
  color: white;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  padding: 15px;
}

.service .details a {
  color: var(--main-color);
}

.service h3 {
  margin: 0;
  color: var(--main-color);
  font-size: 25px;
}

.service .icon-text {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.service p {
  position: absolute;
}

.service .number {
  margin: 0;
  left: -15px;
  bottom: 0;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
}

.service .number::after {
  content: "";
  z-index: -1;
  width: 140px;
  height: 50px;
  position: absolute;
  left: -15px;
  background-color: #D5D5D5;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
}

.service .number span {
  font-size: 30px;
  background-color: var(--main-color);
  font-weight: bold;
  width: 100px;
  left: -12px;
  height: 50px;
  position: absolute;
  bottom: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
}

.service .number span::before {
  content: "0"counter(services-counter);
  transform: translateX(10px) skewX(35deg);
  -webkit-transform: translateX(10px) skewX(35deg);
  -moz-transform: translateX(10px) skewX(35deg);
  -ms-transform: translateX(10px) skewX(35deg);
  -o-transform: translateX(10px) skewX(35deg);
}

/* Services End */

/* Our Skills Start */

.our-skills {
  padding: calc(var(--main-padding) / 3) 0;
}

.our-skills .container {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 40px auto;
  justify-content: center;
}

.our-skills .skill {
  position: relative;
}

.our-skills .skill p {
  font-weight: bold;
  position: relative;
  font-size: 20px;
}

.our-skills .skill p::before {
  content: "80%";
  border: 1px solid var(--text-color);
  font-size: 17px;
  right: 0;
  top: 50%;
  padding: 3px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  transform: translateY(-50%);
  position: absolute;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.our-skills .skills-bars .skill:nth-child(2) p::before {
  content: "85%";
}

.our-skills .skills-bars .skill:nth-child(3) p::before {
  content: "70%";
}

.our-skills .bar {
  display: inline-block;
  width: 650px;
  background-color: #eee;
  position: relative;
  height: 30px;
}

.our-skills .bar::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  left: 0;
  height: 100%;
  width: 80%;
}

.our-skills .skills-bars .skill:nth-child(2) .bar::before {
  width: 85%;
}

.our-skills .skills-bars .skill:nth-child(3) .bar::before {
  width: 70%;
}

@media (max-width: 1200px) {
  .our-skills img {
    display: none;
  }
}

/* Our Skills End */

/* How It Works Start */

.how-it-works {
  background-color: var(--second-color);
  padding: calc(var(--main-padding) / 2) 0;
}

.how-it-works .container {
  margin: 60px auto;
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
}

.how-it-works .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.how-it-works .step::before {
  content: "";
  position: absolute;
  width:  0;
  height: 0;
  z-index: -1;
  opacity: 0;
  background-color: #EDEDED;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.how-it-works .step:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.how-it-works .text h3 {
  font-size: 25px;
}

.how-it-works .text p {
  color: #777;
  font-size: 18px;
  line-height: 1.8;
}

.how-it-works .container > img {
  max-height: 500px;
}

.how-it-works .step img {
  max-width: 65px;
  height:    65px;
}

.how-it-works .work-steps {
  display: grid;
  grid-template-rows: repeat(auto-fit, 33.3%);
  gap: 40px;
}

.how-it-works .step {
  position: relative;
  z-index: 3;
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid white;
  background-color: #f6f5f5;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.how-it-works h3 {
  margin: 0;
}

.how-it-works p {
  margin: 0;
}

@media (max-width: 1200px) {
  .how-it-works .container > img {
    display: none;
  }
}

/* How It Works End */

/* Events Start */

.events {
  padding: calc(var(--main-padding) / 2) 0;
}

.events .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

:has([class*=dot]) {
  position: relative;
}

[class*=dot] {
  position: absolute;
  width: 204px;
  height: 186px;
  z-index: -1;
  background-image: url(../images/dots.png);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .events [class*=dot] {
    display: none;
  }

  .events img[alt*=events] {
    display: none;
  }
}

.dots1 {
  top: -90px;
  right: -90px;
}

.dots2 {
  bottom: -10px;
  left: -90px;
}

.events .big-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.events img[alt*=events] {
  width: 400px;
}

.time {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.events .time > div {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 45px;
  font-weight: bold;
  height: 150px;
  min-width: 80px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.events .time > div p {
  color: initial;
  font-size: initial;
  width: 100%;
  margin: 0;
  min-width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
}

.events .time > div span {
  transform: translateY(35px);
  -webkit-transform: translateY(35px);
  -moz-transform: translateY(35px);
  -ms-transform: translateY(35px);
  -o-transform: translateY(35px);
}

.events .text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.events .subscribe {
  margin-bottom: var(--main-padding);
}

.events .time > div:hover {
  border-color: var(--main-color-alt);
}

.events .time > div:hover p {
  border-color: var(--main-color-alt);
}

.events .small-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.events .small-text p,
.events .small-text h3 {
  margin: 0;
}

.events .small-text h3 {
  font-size: 25px;
}

.events .small-text p {
  text-align: center;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 20px;
}

.events .subscribe form {
  background-color: #F6F5F5;
  padding: 30px;
  border-radius: 65px;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  -ms-border-radius: 65px;
  -o-border-radius: 65px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.events .subscribe label {
  display: none;
}

.events .subscribe input {
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

.events .subscribe input[type=email] {
  width: 350px;
  padding: 10px 20px;
  color: var(--main-color);
  caret-color: var(--main-color);
}

.events .subscribe input[type=email]::placeholder {
  color: var(--text-color);
}

.events .subscribe input[type=submit] {
  background-color: var(--main-color);
  color: white;
  width: 120px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  font-weight: bold;
  font-size: 20px;
}

.events .subscribe input[type=submit]:hover {
  background-color: var(--main-color-alt);
  cursor: pointer;
}

/* Events End */

/* Pricing Start */

.pricing {
  padding: var(--main-padding) 0;
  background-color: var(--second-color);
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.pricing .plan {
  box-shadow:    0 12px 20px 0 rgb(0 0 0 / 13%),    0 2px 4px 0 rgb(0 0 0 / 12%);
  background-color: white;
  position: relative;
  overflow: hidden;
}

.pricing .plan::before,
.pricing .plan::after {
  content: "";
  position: absolute;
  transition: var(--main-transition);
  height: 50%;
  width: 100%;
  background-color: #f6f6f6;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.pricing .plan::before {
  right: -100%;
  top: 0;
}

.pricing .plan:hover::before {
  right: 0;
}

.pricing .plan::after {
  left: -100%;
  bottom: 0;
}

.pricing .plan:hover::after {
  left: 0;
}

.pricing .plan li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--main-color);
  font-size: 20px;
  margin-right: 10px;
}

.pricing .plan li {
  display: flex;
  align-items: center;
  padding: 15px;
}

.pricing .plan img {
  width: 80px;
}

.pricing .plan li:not(:last-child) {
  border-bottom: 1px solid #d4d4d4;
}

.pricing .plan .pricing-features {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d4d4d4;
}

.pricing .price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.pricing .price * {
  margin: 0;
}

.pricing .price img {
  margin: 30px 0;
}

.pricing .price span {
  color: var(--text-color);
}

.pricing .price p {
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
}

.pricing .price h3 {
  font-size: 25px;
}

.pricing .plan * {
  position: relative;
  z-index: 2;
}

.pricing button {
  all: initial;
  display: block;
  font-family: "Cairo", sans-serif;
  border: 2px solid var(--main-color);
  background-color: white;
  color: var(--main-color);
  padding: 10px 20px;
  font-weight: bold;
  transition: var(--main-transition);
  margin: 25px auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.pricing button:hover {
  cursor: pointer;
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}

.pricing .most-popular {
  position: absolute !important;
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 40px;
  width: 170px;
  background-color: var(--main-color);
  font-size: 20px;
  color: rgb(17, 17, 17);
  top: 65px;
  z-index: 3;
  right: -45px;
  color: white;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  font-weight: bold;
  clip-path:
    polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%);
}

.pricing .most-popular span {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.pricing .container {
  margin-top: 80px;
}

.pricing .plan:nth-child(2) {
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}

.pricing button:active {
  background-color: white;
  color: var(--main-color-alt);
}

@media (pointer: coarse) and (hover: none) {
  .pricing button:active {
    background-color: var(--main-color-alt);
    color: white;
  }
}

@media (max-width: 1200px) {
  .pricing .plan:nth-child(2) {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

/* Pricing End */

/* Top Videos Start */

.top-videos {
  padding: calc(var(--main-padding) / 3) 0;
}

.top-videos .container {
  margin-top: 45px;
}

.top-videos .holder {
  display: flex;
  border: 1px solid #d4d4d4;
}

.top-videos .preview {
  background-color: #e2e2e2;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-videos .preview img {
  max-width: 100%;
}

.top-videos .preview .info {
  background-color: white;
  padding: 20px 25px;
}

.top-videos .videos-list li:not(:last-child) {
  border-bottom: 1px solid #d4d4d4;
}

.top-videos .videos-list {
  width: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 496px;
}

.top-videos .videos-list::-webkit-scrollbar {
  display: none;
}

.top-videos .videos-list li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.top-videos .videos-list li:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}

.top-videos .videos-list li *:hover {
  cursor: pointer;
}

.top-videos .name {
  font-weight: bold;
}

.top-videos .videos-list li span {
  color: var(--text-color);
}

.top-videos .videos-list li p {
  margin: 0;
  transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
}

.top-videos .videos-list li:hover p {
  color: var(--main-color-alt);
}

.top-videos .name {
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .top-videos .holder {
    flex-direction: column;
  }

  .top-videos .videos-list {
    width: 100%;
    height: fit-content;
  }
}

/* Top Videos End */

/* Stats Start */

.stats {
  background-image: url(../images/stats.jpg);
}

.stats-shadow {
  padding-top: calc(var(--main-padding) / 3);
  padding-bottom: var(--main-padding);
  height: 100%;
  background-color: #ffffffee;
}

.stats .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats h2 {
  font-size: 40px;
}

.stats-container {
  display: grid;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 35px;
  background-color: white;
}

.stat p {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.stat span {
  font-style: italic;
  color: var(--main-color);
  font-weight: bold;
}

/* Stats End */